@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@font-face {
    font-family: 'Brittany Signature';
    src: url('./fonts/BrittanySignature.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@theme inline {
    --font-signature: 'Brittany Signature', cursive;
    --font-sans:
        Instrument Sans, ui-sans-serif, system-ui, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
}